
body {
    font-family: "Andale Mono", sans-serif;
    background-color: #ECF9FF;

}

h1 {
    font-weight: bold;
    color: #ECF9FF;
}

h2 {
    color: #ECF9FF;
}

h3 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #22668D;
}


#banner {
    background-color: #22668D;
}

form {
    font-family: 'Trebuchet MS', sans-serif;
    color: #22668D;
}

table {
    font-family: 'Trebuchet MS', sans-serif;
}

thead {
    font-weight: bold;
}

.input {
    border: transparent;
    border-radius: 3px;
    outline: none;
    color: #0d0c22;
    box-shadow: 0 0 2px #f3f7fe, 0 0 0 2px #8ECDDD;
    transition: .3s ease;
}

.input::placeholder {
    color: #777;
}

/*login page*/


.submitbutton {
    background-color: #8ECDDD;
    color: #ECF9FF;
    border: none;
    border-radius: 3px;
    transition: .3s;
}

.submitbutton:hover {
    background-color: #ECF9FF;
    color: #22668D;
    box-shadow: 0 0 0 3px #22668D;
}

/*userpage*/

.history {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(
            to right,
            #8ECDDD,
            #8ECDDD 50%,
            #ECF9FF 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}


.history:before {
    content: '';
    background: #8ECDDD;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.history:hover {
    background-position: 0;
}

.history:hover::before {
    width: 100%;
}

/*business page*/

.updatelink {
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: inset 0 0 0 0 #22668D;
    color: #22668D;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.updatelink:hover {
    color: #ECF9FF;
    box-shadow: inset 200px 0 0 0 #22668D;
}
