<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>UserPageServlet</servlet-name>
        <servlet-class>dineconnect.servlet.UserPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPageServlet</servlet-name>
        <url-pattern>/userpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessPageServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessPageServlet</servlet-name>
        <url-pattern>/businesspage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserHistoryServlet</servlet-name>
        <servlet-class>dineconnect.servlet.UserHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHistoryServlet</servlet-name>
        <url-pattern>/userhistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteReviewServlet</servlet-name>
        <servlet-class>dineconnect.servlet.DeleteReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReviewServlet</servlet-name>
        <url-pattern>/reviewdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteTipServlet</servlet-name>
        <servlet-class>dineconnect.servlet.DeleteTipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTipServlet</servlet-name>
        <url-pattern>/tipdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessListedHoursServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessListedHoursServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessListedHoursServlet</servlet-name>
        <url-pattern>/businesslistedhours</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessPromotionsServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessPromotionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessPromotionsServlet</servlet-name>
        <url-pattern>/businesspromotions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessTipsServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessTipsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessTipsServlet</servlet-name>
        <url-pattern>/businesstips</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddTipServlet</servlet-name>
        <servlet-class>dineconnect.servlet.AddTipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTipServlet</servlet-name>
        <url-pattern>/addtip</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessReviewsServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessReviewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessReviewsServlet</servlet-name>
        <url-pattern>/businessreviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>dineconnect.servlet.AddReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/addreview</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BusinessCheckinsServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessCheckinsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessCheckinsServlet</servlet-name>
        <url-pattern>/businesscheckins</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCheckinServlet</servlet-name>
        <servlet-class>dineconnect.servlet.AddCheckinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCheckinServlet</servlet-name>
        <url-pattern>/addcheckin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPromotionServlet</servlet-name>
        <servlet-class>dineconnect.servlet.AddPromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPromotionServlet</servlet-name>
        <url-pattern>/addpromotion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <servlet-class>dineconnect.servlet.DeletePromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <url-pattern>/promotiondelete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateBusinessServlet</servlet-name>
        <servlet-class>dineconnect.servlet.UpdateBusinessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBusinessServlet</servlet-name>
        <url-pattern>/updatebusiness</url-pattern>
    </servlet-mapping>




</web-app>
