<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>UserPageServlet</servlet-name>
        <servlet-class>dineconnect.servlet.UserPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPageServlet</servlet-name>
        <url-pattern>/userpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessPageServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessPageServlet</servlet-name>
        <url-pattern>/businesspage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserHistoryServlet</servlet-name>
        <servlet-class>dineconnect.servlet.UserHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHistoryServlet</servlet-name>
        <url-pattern>/userhistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewDeleteServlet</servlet-name>
        <servlet-class>dineconnect.servlet.ReviewDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewDeleteServlet</servlet-name>
        <url-pattern>/reviewdelete</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>BusinessListedHoursServlet</servlet-name>
        <servlet-class>dineconnect.servlet.BusinessListedHoursServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessListedHoursServlet</servlet-name>
        <url-pattern>/businesslistedhours</url-pattern>
    </servlet-mapping>


</web-app>
